<br>
<div class="container">
<div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Welcome to my portfolio</h1>
          <p>Hi, I am Divya Nagargade. I am passionate about creating Web application on both Front end and Back end side by using MEAN stack Technology. If it seems interesting to you then get in touch.</p>
        </div>
      </div>

      <div class="bg">
        <span>
          &nbsp;
          &nbsp;
          </span>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h5>Web Application development</h5>
            <p>Fast, responsive and engaging apps that keeps your idea alive.</p>
            <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
          </div>
          <div class="col-md-4">
            <h5>API development and integration</h5>
            <p>REST API integration and development with NodeJS.</p>
          </div>
          <div class="col-md-4">
            <h5>Database Design</h5>
            <p>Schema design and data modelling in MongoDB which aims for performance,scale and stability.</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
</div>