<br>
<div class="container">
<div class="jumbotron">
        <div class="container">
          <h3 class="display-5">YourJourney.com</h3>
          <p>A MEAN stack application which helps a traveller to show Schedule of Vehicle. 
            It is built using Angular 6, NodeJS, Express and MongoDB i.e. in MEAN Stack Technology. 
            Restful Routes are coded in express and are connected to MongoDB database. 
            Authentication is provided using JWT & PassportJS.</p>

            <h4>Project Link:</h4>
            <br>

        </div>
      </div>
</div>