<div class="container">
<h3 class="pb-1 pt-2">Get in touch</h3>

<p>I am currently open to opportunities within the software engineering discipline and if you feel like we would be a great match,
I'd love to hear from you!</p>
<hr>
<div>
<h5>Email:</h5>
<p>divya.nagargade@yahoo.com</p>

<h5>Phone:</h5>
<p>9766133705</p>
</div>
<hr>
<!--<div class="contact">
<form id="contactForm">
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" name="name" id="Name" placeholder="Name">
            </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="email" id="Email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Message</label>
          <textarea class="form-control" name="message" rows="4" class="form-control" id="Message" placeholder="Enter your message here">
          </textarea>
        </div>
        <button type="submit" class="btn btn-info">Send Message</button>
      </form>
      </div>
    </div>-->
 <!-- name -->
 <!--<div class="field">
    <input type="text" name="name" class="input" placeholder="Your Name">
  </div>

  
  <div class="field">
    <input type="email" name="email" class="input" placeholder="Your Email">
  </div>

  
  <div class="field">
    <textarea class="textarea" name="message" placeholder="Enter your message here"></textarea>
  </div>

  <button type="submit" rows="4" class="button is-danger is-large">Submit</button>

</form>-->

<div class="col-6 offset-1">
  <h5>Contact</h5>
    <form #f="ngForm">
        <div class="row">
            <div class="col-12 col-sm-6 form-group required">
                <label for="name">Name</label>
                <input type="text" name="Name" required="" class="form-control text-input"
                    id="name" placeholder="Name" />
            </div>
            <div class="col-12 col-sm-6 form-group required">
                <label for="email">E-mail</label>
                <input type="email" name="Email" required=""
                    class="form-control text-input" id="email" placeholder="E-mail" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group required">
                <label for="subject">Subject</label>
                <input type="text" name="Subject" required=""
                    class="form-control text-input" id="subject" placeholder="Subject" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group required">
                <label for="message">Message</label>
                <textarea type="text" name="Message" required=""
                    class="form-control" id="message" placeholder="Any kind of inappropriate contents are strictly prohibited"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-success">Send</button>
            </div>
        </div>
    </form>
</div>
</div>


