<br>
<div class="container">
<h4><u>Front End</u>:</h4>
<div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 mt-2 mb-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/html.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mt-2 mb-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/css3.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mt-2 mb-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/bootstrap1.png" alt="">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mt-2 mb-0 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/assets/javascript111.png" alt="">
                </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mt-2 mb-0 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/assets/angular111.png" alt="">
                </a>
        </div>
</div>
<hr>
<h4><u>Server</u>:</h4>
<div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 mt-1 mb-0 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/npm1.png">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mt-1 mb-0 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/assets/express.png">
                </a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 mt-1 mb-0 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/assets/node1.png">
                </a>
        </div>
</div>
<hr>
<h4><u>Database</u>:</h4>
<div class="row">
        <div class="col-lg-4 col-md-4 col-xs-4 mt-2 mb-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="/assets/mongodb2.png">
            </a>
        </div>
</div>
</div>
